@model DockingAdminPanel.Models.PatientToken

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PatientToken</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Counter" class="control-label"></label>
                <input asp-for="Counter" class="form-control" />
                <span asp-validation-for="Counter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyTotalCounter" class="control-label"></label>
                <input asp-for="DailyTotalCounter" class="form-control" />
                <span asp-validation-for="DailyTotalCounter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCounterAddedDate" class="control-label"></label>
                <input asp-for="TotalCounterAddedDate" class="form-control" />
                <span asp-validation-for="TotalCounterAddedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary"><i class="fa-solid fa-hard-drive"></i> Save</button>
                <a asp-action="Index" class="btn btn-info"><i class="fa-regular fa-pen-to-square"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>



<style>
    .btn-info:hover {
        background: transparent !important;
    color: #25cff2 !important;
    }

</style>