@model DockingAdminPanel.Models.TestAppointmentsViewModel

@{
    ViewData["Title"] = "CollectTestSamples";
}

<h1>Sample Collection Point</h1>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>






 
 
 
<div class="card mt-5">

	<div class="card-header">
		 


		@*  <a class="btn btn-primary btn-block float-end" asp-action="Create"><i class='bx bx-add-to-queue bx-tada bx-flip-vertical '></i>Add Patients</a>*@
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="myTable" class="display">
				<thead>
					<tr>
						<th>Patient Name</th>
						 <th>Actions</th>
						 
					</tr>

				</thead>
				<tbody>
					@if (Model.patients != null && Model.patients.Count() > 0)
					{
						@foreach (var item in Model.patients)
						{
							<tr>
								<td>@item.FullName</td>

								<td><a asp-action="SampleCollection" class="btn btn-primary" asp-route-id="@item.Id">Collect Specimen</a> </td>
							</tr>

						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	let table = new DataTable('#myTable', {
		responsive: true
	});
	$(document).ready(function () {
		$('#myTable').DataTable();
	});
 
</script>
<style>
	@@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

	body {
		padding: 100px 0;
		background: #ecf0f4;
		width: 100%;
		height: 80%;
		font-size: 18px;
		line-height: 1.5;
		font-family: 'Roboto', sans-serif;
		color: #222;
	}

	.container {
		max-width: 80%;
		width: 100%;
	}

	h1 {
		font-weight: 700;
		font-size: 45px;
		font-family: 'Roboto', sans-serif;
	}

	.header {
		margin-bottom: 80px;
	}

	#description {
		font-size: 24px;
	}

	.form-wrap {
		background: rgba(255,255,255,1);
		width: 100%;
		max-width: 850px;
		padding: 50px;
		margin: 0 auto;
		position: relative;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	}

		.form-wrap:before {
			content: "";
			width: 90%;
			height: calc(100% + 60px);
			left: 0;
			right: 0;
			margin: 0 auto;
			position: absolute;
			top: -30px;
			background: #0e1c36;
			z-index: -1;
			opacity: 0.8;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		}

	.form-group {
		margin-bottom: 25px;
	}

		.form-group > label {
			display: block;
			font-size: 18px;
			color: #000;
		}

	.custom-control-label {
		color: #000;
		font-size: 16px;
	}

	.form-control {
		height: 50px;
		background: #ecf0f4;
		border-color: transparent;
		padding: 0 15px;
		font-size: 16px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

		.form-control:focus {
			border-color: #0e1c36;
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}

	textarea.form-control {
		height: 160px;
		padding-top: 15px;
		resize: none;
	}

	.btn {
		padding: .657rem .75rem;
		font-size: 18px;
		letter-spacing: 0.050em;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}



	.btn-primary:focus, .btn-primary.focus {
		color: #00bcd9;
		background-color: #ffffff;
		border-color: #00bcd9;
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	}

	.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
	.show > .btn-primary.dropdown-toggle {
		color: #00bcd9;
		background-color: #ffffff;
		border-color: #00bcd9;
	}

		.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
		.show > .btn-primary.dropdown-toggle:focus {
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}
</style>