@model DockingAdminPanel.Models.Patient

@{
    ViewData["Title"] = "Create";
}



 <div class="container mb-4">
    <div class="form-wrap">
        <form asp-action="Create" method="post" id="addpatientappointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="FirstName" class="control-label">Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Age" class ="control-label">Age</label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
				<div class="form-group col-md-4 mt-5" >
					
					<div class="form-check form-check-inline">
						<input type="radio" id="male" name="Sex" checked value="Male" @(Model.Sex == "Male" ? "checked" : "")>
						<label for="male" class="form-check-label">Male</label>
					</div>
					<div class="form-check form-check-inline">
						<input type="radio" id="female" name="Sex" value="Female" @(Model.Sex == "Female" ? "checked" : "")>
						<label for="female" class="form-check-label">Female</label>
					</div>
				</div>
            </div>
           
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Address" class="control-label">Address</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Illness" class="control-label">Illness</label>
                    <input asp-for="Illness" class="form-control" />
                    <span asp-validation-for="Illness" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DoctorId" class="control-label">Doctor</label>
					<select asp-for="DoctorId" class="form-control" id="doctorDropdown">
                        <option value="">Select a Doctor</option>
						@if (Model.Doctors.Count() > 0 && Model.Doctors !=null)
                        {
                            @foreach (var item in Model.Doctors)
                            {
                                <option value="@item.Id">@item.FullName</option>
                            }
                        }
                    </select>
				 
					<span asp-validation-for="DoctorId" class="text-danger"></span>
						 
                </div>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <div class="form-check">
                    <label class="form-check-label">
						<input class="form-check-input" asp-for="External" id="externalCheckbox" /> External
                    </label>
                </div>
            </div>
            <div class="form-group">
 
				<button id="Appointment" type="button" class="btn btn-primary btn-block rounded-pill font-size-16" onclick="onsubmitLabClick()">Lab Appointment</button>
                <a asp-action="Index" class="btn btn-primary btn-block rounded-pill font-size-16">Back to List</a>
            </div>
        </form>
    </div>
</div>




		<script>
	function onsubmitLabClick(e) {

	 
		$('#PaymentStatus').val("false");

		$("#addpatientappointment").attr('action', 'CreateLabUnPaid');
		$("#addpatientappointment").submit();

	}
	function onsubmitClick(e) {


		$('#PaymentStatus').val("true");

		$("#addpatientappointment").attr('action', 'CreatePaid');
		$("#addpatientappointment").submit();

	}
	function onsubmitUnpaidClick(e) {


	 

		$("#addpatientappointment").attr('action', 'Create');
		$("#addpatientappointment").submit();

	}
	function toggleDoctorDropdown() {
		var externalCheckbox = document.getElementById('externalCheckbox');
		var doctorDropdown = document.getElementById('doctorDropdown');

		// If the checkbox is checked, disable the doctor dropdown; otherwise, enable it
		doctorDropdown.disabled = externalCheckbox.checked;
	}

	// Attach the toggleDoctorDropdown function to the change event of the "External" checkbox
	document.getElementById('externalCheckbox').addEventListener('change', toggleDoctorDropdown);

	// Call the function on page load to set the initial state
	toggleDoctorDropdown();
</script>
<style>
	@@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

	body {
		padding: 100px 0;
		background: #ecf0f4;
		width: 100%;
		height: 80%;
		font-size: 18px;
		line-height: 1.5;
		font-family: 'Roboto', sans-serif;
		color: #222;
	}

	.container {
		max-width: 80%;
		width: 100%;
	}

	h1 {
		font-weight: 700;
		font-size: 45px;
		font-family: 'Roboto', sans-serif;
	}

	.header {
		margin-bottom: 80px;
	}

	#description {
		font-size: 24px;
	}

	.form-wrap {
		background: rgba(255,255,255,1);
		width: 100%;
		max-width: 850px;
		padding: 50px;
		margin: 0 auto;
		position: relative;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	}

		.form-wrap:before {
			content: "";
			width: 90%;
			height: calc(100% + 60px);
			left: 0;
			right: 0;
			margin: 0 auto;
			position: absolute;
			top: -30px;
			background: #0e1c36;
			z-index: -1;
			opacity: 0.8;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		}

	.form-group {
		margin-bottom: 25px;
	}

		.form-group > label {
			display: block;
			font-size: 18px;
			color: #000;
		}

	.custom-control-label {
		color: #000;
		font-size: 16px;
	}

	.form-control {
		height: 50px;
		background: #ecf0f4;
		border-color: transparent;
		padding: 0 15px;
		font-size: 16px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

		.form-control:focus {
			border-color: #0e1c36;
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}

	textarea.form-control {
		height: 160px;
		padding-top: 15px;
		resize: none;
	}

	.btn {
		padding: .657rem .75rem;
		font-size: 18px;
		letter-spacing: 0.050em;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}



	.btn-primary:focus, .btn-primary.focus {
		color: #00bcd9;
		background-color: #ffffff;
		border-color: #00bcd9;
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	}

	.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
	.show > .btn-primary.dropdown-toggle {
		color: #00bcd9;
		background-color: #ffffff;
		border-color: #00bcd9;
	}

		.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
		.show > .btn-primary.dropdown-toggle:focus {
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}
</style>